/*

write html & css for form in storyEntry
write css for main in storyEntry
write javascript

*/

body{
    margin: 0%;
    background-color: wheat;
}
#form{
    margin: 5vw;
    padding: 2em;
    background-color: violet;

}

#form input{
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 0.8em 0;
    padding: 0.5em;
}
#storyEntry{
    background-color: violet;
    width: 70%;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 2rem 3rem;
    padding: 3rem;
}
#continue{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    margin: .3rem 0;
}
label{
    font-size: 1.2em;
}
legend{
    font-size: 2em;
}

#format input{
    width: 6rem;
    padding: 0.5rem;
    margin: .2rem;
}

.hide{
    display: none;
}
.storyEntryElements{
    text-align: left;
    width: 100%;
    min-height: 50vh;
    margin: 2.5rem 0;
    display: block;
}
.dropArea{
    height: 10em;
    width: 10em;
    border: 1px solid black;
}
.highlight{
    border-color: 10px solid blue;
}
.shown{
    margin: 1rem 0;
    width: 80%;
    height: 50%;
    /* repeat: norepeat; */
}
.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* visibility: hidden; */
    width: 80%;
    height: 70%;
    bottom: 15%;
    left: 10%;
    transform: scale(1.1);
    background-color: rgb(39, 33, 33);
    opacity: 0.8;
}
.popup2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: burlywood;
    font-size: 8rem;
}
.close{
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.completedStory{
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    padding: 0.8em 1.5em;
}
.x{
    color: white;
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.text{
    color: white;
}

